# Ignore everything in the root except the "inc" directory, except:
# inc, and js directories
/*
!inc/
!js/

# Ignore everything in the "inc" directory, except:
# wp-require-plugins.php file
inc/*
!inc/wp-require-plugins.php

# Ignore everything in the "js" directory, except:
# wp-require-plugins.js file
js/*
!js/wp-require-plugins.js

# Track these files, if they exist
!.gitignore
!package.json
!README.md
